.space-100 {  margin-top:100px; line-height: 0;} 
.space-75 {  margin-top:75px; line-height: 0;} 
.space-50 {  margin-top:50px; line-height: 0;}
.space-25 {  margin-top:25px; line-height: 0;}
.space-10 {  margin-top:10px; line-height: 0;}
.space-5 {  margin-top:5px; line-height: 0;}
.space-last {  margin-top:0px; line-height: 2;}

@font-face {
    font-family: 'League Spartan';
    src: url('../leaguespartan-bold.eot');
    src: url('../leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../leaguespartan-bold.woff2') format('woff2'),
         url('../leaguespartan-bold.woff') format('woff'),
         url('../leaguespartan-bold.ttf') format('truetype'),
         url('../leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.teal-bg {
  background-color:rgba(0,0,0,0.5);
  color: #ffffff;
}
.teal-bg a {
  color: #fff;
}
.teal {
  color:#00bebe;
}

section {
  overflow: hidden;
}
.center {
  text-align: center;
}
.teal-bg .button-on-teal{
  background-color:#fff;
  color: rgba(0,0,0,0.5);
}

.quote {
  padding-left:40px;
}
.button-on-teal2 {
  color:#fff;
  border-color: #fff;
}

.mainbody {
  background: url("../images/bg_002.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-link {
  color: #fff343;
}

.navbar {
  background-color: rgba(0,0,0,0.35);
  border: 0;
}

.logo {
          max-width: 78%;
}

.title {
    color: #fff343;
    font-size: 58px;
    letter-spacing: 9px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.35);
    font-weight: 900;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff343;
    font-family: "League Spartan";
    line-height: 81px;
    -webkit-text-fill-color: #122600;
}

.indent {
  padding-left:31px;
}


.schedule {
    border: #00bebe 1px;
    /* border-width: 1px; */
    /* border-style: dashed; */
    padding: 45px;
    /* padding-top: 10px; */
    /* margin-bottom: 20px; */
    background-color: rgba(0,255,255,0.2);
}


.square-1 {
  cursor:zoom-in;
  float:left;
  position: relative;
  width: 100%;
  padding-bottom : 50%; /* = width for a 1:1 aspect ratio */
  margin-bottom: 3px;
  background-position:center center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.square-2 {
  cursor:zoom-in;
  float:left;
  position: relative;
  width: 100%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin-bottom: 3px;
  background-position:center center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.square-3 {
  cursor:zoom-in;
  float:left;
  position: relative;
  width: 100%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin-bottom: 3px;
  background-position:center center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.imgrow {
  margin-bottom:30px;
}

.patternbg {
    background-attachment: fixed;
    background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;

    background-image: url(../images/TEST.png);
    -webkit-animation: scrolling 100s linear infinite;
    -moz-animation: scrolling 100s linear infinite;
    -o-animation: scrolling 100s linear infinite;
    animation: scrolling 100s linear infinite;
    transform: translateZ(0);
}


@media (min-device-width: 550px) {
.patternbg {
    -webkit-animation: scrolling 40s linear infinite;
    -moz-animation: scrolling 40s linear infinite;
    -o-animation: scrolling 40s linear infinite;
    animation: scrolling 40s linear infinite;
  }
}

@keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 0 -200%;
  }
}


/* yellow fff343 */

h2 {
    font-family: "League Spartan";
    color: #fff343;
    font-weight: bold;
}
p {
    margin-top: 0;
    letter-spacing: 0.05em;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-family: "League Spartan";
    font-weight: bold;
}


.space-100 {  height:100px; clear:both ;} 
.space-75 {  height:75px; clear:both;} 
.space-50 {  height:50px; clear:both;}
.space-25 {  height:25px; clear:both;}
.space-10 {  height:10px; clear:both;}
.space-5 {  height:5px; clear:both;}
.space-last {  height:0px; clear:both;}


.container {
  /*background-color: #fcee21;*/
}

.row {
  padding-left: 30px;
  padding-right: 30px;
}

.nopad{
  padding: 0;
}


.biggish { font-size: 20px;}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px #bbb dotted;
}
.accordionarrow { float: right; }
.accordionpanel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left:25px;
  font-size:16px;
}
.accordion {
  cursor:pointer;
}
.emoji{
  width: 30px;
  float: left;
}


.accordionpanel p {
  margin-bottom: 1rem;
}
.accordionpanel ul li {
  margin-bottom: 0rem;
  list-style-type:disc;
}

.accordionpanel ul li ul li {
  margin-bottom: 3px;
  font-size:11px;
  list-style-type:none;
}

.accordionpanel ul li ul  {
  margin:0;
  margin-left:20px;
  margin-bottom:10px;
}

.nobullets ul li {
  list-style-type:none;
  margin-left:35px;
}

.nobullets ul li ul li{
  list-style-type:none;
    margin-left:0px;
}

.nobullets ul li ul{
    margin-left:0px;
}

.footer
{
  text-align: center;
  font-size:10px;
}

.test
{
  margin-left:10px;
}
.test2
{
  float:left;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Style the Image Used to Trigger the Modal */
.popup {
    cursor: pointer;
    transition: 0.3s;
}

.popup:hover {opacity: 0.7;}

.rounded {
    border-radius: 10px;
}

.bottom-pad {
    padding-bottom: 25px;
}

.markdown img {
  width: 100%;
}

.imgrow {
  margin-bottom:20px;
}

.square-1 {
  cursor:zoom-in;
  float:left;
  position: relative;
  width: 100%;
  padding-bottom : 50%; /* = width for a 1:1 aspect ratio */
  margin-bottom: 3px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.square-2 {
  cursor:zoom-in;
  float:left;
  position: relative;
  width: 100%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin-bottom: 3px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.square-3 {
  cursor:zoom-in;
  float:left;
  position: relative;
  width: 100%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin-bottom: 3px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

blockquote {
    border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 20px;
    margin-left: 0px;
    padding-bottom: 2px;
    color: #555;
}

blockquote p:last-child {
    margin-bottom:0;
}

video {
  width:100%;
}

.navbar {
  position:sticky;
}